<ion-view view-title="My Budget">
    <ion-content>
    

<div class="card">
  <div class="item item-text-wrap">
    You're Currently Spending : {{billtotal}}

    This is {{billpercent}}% of your net monthly income. 

    You're goal should be to be spending 50% or {{billgoal}}.
  </div>
</div>

<div class="card">
  <div class="item item-text-wrap">
     You have {{monthlyremainder}} left for the month.

     Your goal should be to use 20% or {{nestegg}} toward debt reduction or building a nest egg.

     The other 30%  -- {{funmoney}} - is yours to spend as you wish! Live it up!
  </div>
</div>

  <div class="item item-input-inset">
      <button class="button button-block button-calm" on-tap="toHome()">
      Go Home
      </button>
  </div>

</ion-content>

</ion-view>