<ion-view view-title="My Budget">
    <ion-content>
    

<div class="card">
  <div class="item item-text-wrap">
    You're Currently Spending : ${{billtotal}} ...

    You're goal should be able to live on 50% or {{billgoal}}.
  </div>
</div>

<div class="card">
  <div class="item item-text-wrap">
     You have ${{monthlyremainder}} left for the month.

     Your goal should be to use 20% or ${{nestegg}} toward debt reduction or building a nest egg.

  </div>
</div>

<div class="card">
  <div class="item item-text-wrap">
     The other 30%  -- ${{funmoney}} - is yours to spend as you wish! Live it up or pay your future self and contribute remainders towards a RothIRA!
  </div>
</div>

  <div class="item item-input-inset">
      <button class="button button-block button-calm" on-tap="toHome()">
      Go Home
      </button>
  </div>

</ion-content>

</ion-view>