<ion-view view-title="Not quite there...">
  <ion-content class="padding">
    <div class="list card">

      <div class="item">
        <h2>You are not a ScrewUp ... yet...</h2>
        <p>There's still hope for you!</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="../img/notthereyet.jpg" height="455" width="800"/>

        <h6>
          Did you know by age 35 you should have a year of your desired salary
          saved for retirement?

          It IS possible?

          Money actually can grow on trees - even if you don't think you have
          money to spare!!

          Check out Become a financial genius for more details.


        </h6>
      </div>

    </div>
  </ion-content>
</ion-view>
