<ion-view view-title="Congrats! You're a ScrewUp">
  <ion-content class="padding">
    <div class="list card">

      <div class="item">
        <h2>You Did It!</h2>
        <p>Nailed It!</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="../img/party-clip-art-party-clip-art-free-downloads.jpg"
                                                        height="711" width="700"/>
        <h6>
          Congrats! You're already a ScrewUp - meaning you are doing a great job
          of preparing for your future!
        </h6>
      </div>

    </div>
  </ion-content>
</ion-view>
