  <ion-view view-title="Become A ScrewUp!">
    <ion-content>
        <div class="list card">
             
  

        <label class="item">
                Add All Non-Negotiable Monthly Expenses Here (i.e. rent)
             </label>
             <label class="item item-input" >
                <input type="text" placeholder="Enter Name of Expense" ng-model="editVM.expense.name">
            </label>
            <label class="item item-input" >
                <input type="text" placeholder="Enter amt of Expense" ng-model="editVM.expense.cost">
            </label>
              <div class="item item-input-inset">
                    <button class="button button-block button-calm" on-tap="editVM.callToAddExpense()">
                        Add Monthly Expense
                    </button>
             </div>
               <div class="item item-input-inset">
                    <button class="button button-block button-calm" on-tap="editVM.toOutcome()">
                       Submit
                    </button>
             </div>

<div class="card">
  <table border="1">
    <tr>
    <th>Expense</th>
    <th>Cost</th>
    </tr>
    <tr ng-repeat="expense in outcomeVM.expenses">
    <td >{{expense.name}}</td>
    <td>{{expense.cost}}</td>
    </tr>
  </table>
</div>     

        </div>
    </ion-content>
  </ion-view>

