<ion-view view-title="Become A ScrewUp!">
    <ion-content>
        <div class="list card">
             
            
             <label class="item item-input" >
                <input type="text" placeholder="Create Username" ng-model="user.username">
            </label>
            <label class="item item-input" >
                <input type="text" placeholder="Create Password" ng-model="user.password">
            </label>
            
             <div class="item item-input-inset">
                    <button class="button button-block button-calm" on-tap="toCreateAccount()">
                        Submit
                    </button>
             </div>
             
        </div>

    </ion-content>
</ion-view>