<ion-view view-title="ScrewUp Your Knowledge">
  <ion-content>

    <div class="card">
      <div class="item item-divider">
       Money grows on trees
      </div>
      <div class="item item-text-wrap">
        <p>Yeah! It's a thing. Investments man, investments.</p>

        <p>When you invest (or have someone who knows what they're doing invest for you) there's
        something called compound interest. It's like reverse student loans. The stock has an
        interest on it and this time you get the benefit.</p>

        <p>For example: If you invest $1,000 and it has 10% interest growth on it - in 20 years you will have over $7,000!
           The longer you are invested the longer your interest has to grow. So, start investing as early as possible. </p>

      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        I can get $$$ for nothing?
      </div>
      <div class="item item-text-wrap">
        <p>Yeah! It's also a thing.</p>

        <p>Some stocks basically have customer loyalty rewards. It varies per stock.</p>

        <p>Many stocks will pay you a small amount every quarter for being an investor. Free money! </p>

      </div>
    </div>



    <div class="card">
      <div class="item item-divider">
        What do they want from me?!?!
      </div>
      <div class="item item-text-wrap">
        <p>Financial Planners</p>

        <p>They are there to help! See the Find Help tag to find one near you. Or Resources for a helpful article on what to look for.
          It is important to get help unless you're really dedicated and keep an almost daily eye on the stock market and do your research.
          But a planner does all of that for you and can help make recommendations.</p>

        <p>If a planner doesn't help your money grow- then he either doesn't get paid or loses your as a client and still won't get paid.
        It is their one goal and job in life to help your money grow.</p>

        <p> They get paid in three ways usually ...</p>
        <p>1) An annual fee or a small percentage of your assets- like really small- like 1%...</p>
        <p>2) Commissions from trading stocks (this if fine but they can be biased towards stocks that pay them more)</p>
        <p>3) Hourly - like lawyers- they charge you only for what they work.</p>

      </div>
    </div>


    <div class="card">
      <div class="item item-divider">
        What's the diff between Retirement and Savings?
      </div>
      <div class="item item-text-wrap">
        <p>Taxes! Regular investments(great - highly recommend them) - you have to pay taxes every year.</p>
        <p>Retirement funds help your money grow in a way that you don't have to pay taxes on it every year (even greater- more highly recommend).</p>

      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        Old People Fund
      </div>
      <div class="item item-text-wrap">
        401K - Sweet deal - you put money into this account BEFORE taxes are applied. Through investments the money grows and grows and grows.
        You only get taxed on it when you're old and ready to use it.
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        Save A Ton Fund
      </div>
      <div class="item item-text-wrap">
        <p>Roth IRA - a must have - It's basically a savings account on crack. You put money in it and can ONLY take it out
        when you retire OR when you buy a house. Once the money is in there, through investments, it grows and grows and grows.</p>

        <p>The best part is - that the money that goes into it has already been taxed (at the time you were paid). And so no matter
        how much it grows... you won't have to pay taxes on it ever again. That's like ... free money!</p>
      </div>
    </div>


    <div class="card">
      <div class="item item-divider">
        But I don't want to care...
      </div>
      <div class="item item-text-wrap">
        <p>Cool - that's fine - for realz.</p>

        <p> A) Find a financial planner- they'll care for you. </p>
        <p> B) There are these things called "Index Funds" - it's basically a group of stocks that pre-vetted and they kind of know how they're going to do.
        It's what most 401K's are put into to help them grow. </p>

      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        What the heck does "Diversify Your Portfolio" Mean?
      </div>
      <div class="item item-text-wrap">
        <p>It means don't put all your eggs in one basket.</p>

        <p>1) Don't invest all your money into one stock...  </p>
        <p>2) It also means think about the industry/ genre of your stocks and don't invest in only one industry. </p>
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        Risky Business? Not really...
      </div>
      <div class="item item-text-wrap">
        Some stocks are high risk and some are lower risk. Companies that have been around a long time
        generally have leveled out so their highs and lows won't be as radical.

        When you're young it is okay to take some risks because you'll have time to make up for it later.
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        Taxing Reality
      </div>
      <div class="item item-text-wrap">
        <p>Tax Refund goals</p>
        <p> I know it's tempting to go for the big tax refund once a year. But the real goal should be to try to pay
        exactly what you owe and no more. For the big reason that the money you over-pay the government is just sitting
        there, when you could have been investing it and watching it grow. 
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        Disclaimer
      </div>
      <div class="item item-text-wrap">
        ScrewUp is not a financial adviser. We're just trying to
        introduce you to financial terms so that you can make smart decisions around your money.
        If you want real accuracy and #truths - talk to a financial adviser.
        They're amazing.
      </div>
    </div>




  </ion-content>
</ion-view>
