<ion-view view-title="ScrewedUp Monthly Budgeter">
    <ion-content>
        <div class="list card">
            
            <label class="item">
                Add All Non-Negotiable Monthly Expenses Here (i.e. rent)
             </label>
             <label class="item item-input" >
                <input type="text" placeholder="Enter Name of Expense" ng-model="expense.name">
            </label>
            <label class="item item-input" >
                <input type="text" placeholder="Enter amt of Expense" ng-model="expense.cost">
            </label>
              <div class="item item-input-inset">
                    <button class="button button-block button-calm" on-tap="callToAddExpense()">
                        Add Monthly Expense
                    </button>
             </div>
             <label class="item item-input">
                <input type="text" placeholder="Enter current paycheck amt"  ng-model="post.paycheck">
            </label>
            <label class="item item-input" >
                <input type="text" placeholder="How many times in 4 weeks do you get paid?" ng-model="post.occurence">
            </label>
             <div class="item item-input-inset">
                    <button class="button button-block button-calm" on-tap="callToAddBudgetInfo()">
                        Submit
                    </button>
             </div>
             
        </div>
        
    
        <div class="list card">
                 <label class="item item-input">
                Already a member?
                    </label>
                    <div>
                    <button class="button button-block button-calm" on-tap="calculate()">
                        View/Edit current monthly expenses
                    </button>
                    </div>
                    
             </div>
       
    </ion-content>
</ion-view>