<ion-view view-title="Find A Financial Adviser Near You">
  <ion-content class="padding">
    <div class="list">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="enter your address" ng-model="location.address"/>
        </label>
      </div>
      <div class="item item-input-inset">
        <button class="button button-block button-calm" on-tap="calculate()">
          Find Help Near You!
        </button>
      </div>

      <div id="map" data-tap-disabled="true"></div>

  </ion-content>
</ion-view>
