 <ion-view view-title="Are you a ScrewUp?">

  <!--<base href="/tab/calculator/index.html" >-->


   <ion-nav-title>
      <p> Are you a <img src="img/ScrewUpLogo.jpg" height="40" width="90"/> ? </p>
    </ion-nav-title>
   <!--<div ng-controller="LocationController">-->
     <!--<input type="text" ng-model="locationPath" ng-model-options="{ getterSetter: true }" />-->
   <!--</div>-->

   <ion-content class="padding">
      <div class="list">
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="text" placeholder="enter your age" ng-model="post.age"/>
          </label>
        </div>
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="text" placeholder="enter des. salary at 35" ng-model="post.salary"/>
          </label>
        </div>
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="text" placeholder="retirement $$ so far"
                   ng-model="post.retirement"/>
          </label>
        </div>
        <div class="item item-input-inset">
          <button class="button button-block button-calm" on-tap="calculate()">
            Find Out!
          </button>
        </div>
      </div>

     <div class="card" width="400">
       <div class="item item-divider" style="padding-left: 25%" style="padding-right: 30%" >
         <img ng-src="{{image}}" height="211" width="200" />
       </div>
       <div class="item item-divider">
         {{heading}}
       </div>
       <div class="item item-text-wrap">
         {{message}}
       </div>
     </div>


    </ion-content>
  </ion-view>




