<ion-view view-title="ScrewedUp Resources">
  <ion-content>
    <div class="list card">

      <a href="http://guides.wsj.com/personal-finance/managing-your-money/how-to-choose-a-financial-planner/" class="item item-icon-left">
        How do I pick a financial planner?
      </a>

      <a href="http://www.nytimes.com/interactive/2014/upshot/buy-rent-calculator.html?_r=0" class="item item-icon-left">
        Should I be renting or buying a home?
      </a>

      <a href="http://www.thecalculatorsite.com/articles/finance/what-is-compound-interest.php" class="item item-icon-left">
        More about Compound Interest
      </a>




    </div>
  </ion-content>
</ion-view>
