<ion-view view-title="ScrewUp Your Knowledge">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        What do they want from me?!?!
      </div>
      <div class="item item-text-wrap">
        Financial Advisers
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        They'll pay me for nothing?
      </div>
      <div class="item item-text-wrap">
        Dividend Stocks
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        Old People Fund
      </div>
      <div class="item item-text-wrap">
        401K description
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        Save A Ton Fund
      </div>
      <div class="item item-text-wrap">
        Roth IRA description
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        Money Grows on Trees!
      </div>
      <div class="item item-text-wrap">
        Compound Interest
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        But I don't want to care
      </div>
      <div class="item item-text-wrap">
        Index funds
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        Risky Business? Not really...
      </div>
      <div class="item item-text-wrap">
        Investment strategies
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        Taxing Reality
      </div>
      <div class="item item-text-wrap">
        Tax Refund goals
      </div>
    </div>




  </ion-content>
</ion-view>
